.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: rgb(243, 243, 248);
    box-shadow: 0px 0px 10px -5px black;
    /* position: fixed; */
    width: 99%;
}
.header{
    width: 100%;
}

button{
    margin: 0px 5px;
    padding: 5px 10px;
}

.logo{
    max-height: 50px;
    max-width: 50px;
    margin: 0px 10px;
}

.nav-title{
    display: flex;
    align-items: center;
}