.content{
  padding: 10px 20px;
  text-align: center;
}

.container{
  width: 100%;
  max-width: 1400px;
  margin-top: 0 auto;
  box-sizing: border-box;
}

h1{
  font-size: 45px;
}

h1,h2,h3,h4,p{
  margin: 0px;
}
a{
  color: rgb(107, 56, 41);
  font-weight: 500;
}
button{
  cursor: pointer;
}
p{
  /* font-weight: 500; */
  color: rgb(107, 85, 85);
  font-size: 15px;
}
